<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" xml:lang="{{ .Site.Language.Lang }}">
    {{ block "header" . }}{{ end }}
    <body class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{end}}">
    {{ partial "sidebar.html" . }}
        <div class="content container">
            {{ block "content" . }}{{ end }}
        </div>
        {{ block "footer" . }}{{ end }}
    </body>
</html>
